





.contact {
    width: 100%;
    height: 50vh;
    background: rgb(248, 235, 235);
    padding: 80px 20px 20px 20px;
    
}
.contact>h1{
    color: #262626;

}


a {
    color: rgb(82, 76, 76);
    text-decoration: none;
}


.inputs {
    width: 60%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .inputs  h1 {
        color: rgb(82, 76, 76);
        margin-top: 20px;
    }

    .inputs input {
        width: 100%;
        align-items: center;
        padding: 20px;
        margin-block: .5rem;
        outline: none;
        border: none;
    }

    .inputs.message {
        padding-bottom: 10rem;
    }

    .inputs button {
            padding: 10px 40px ;
            background: none;
            cursor: pointer;
            margin-top: 1rem;
            text-align: center;
            border: 1px solid #f7fee7 k;
            color:#f7fee7 2 ;
            text-transform: uppercase;
            margin-left: 430px;
        }

    
.location{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap:50px;
    cursor: pointer;
    font-weight:500;
}
.location .loc{
  
    color: #d47c70;
   
}
.location .loc:hover{
    transform: scale(1.15);
    color: #191d2b;
}
.heart{
    margin: 30px;
    text-align: center;
}



@media (max-width:480px) {
    .inputs {
        width: 60%;

    }
        .inputs input {
            padding: 15px;
        }
    .location{
      font-size: 10px;
    }
    .heart{
      font-size: 10px;
    }
    .inputs button{
        margin-left: 10px;
        // margin-right: 50px;
        // text-align: center;
    }
}

















// .contact {
   
//     // height: auto;
//     width: 100%;
//     height: 100vh;
//     background: rgb(248, 235, 235);
// }

// a {
//     color: rgb(82, 76, 76);
//     text-decoration: none;
// }


// .inputs {
//     width: 60%;
//     height: 80%;
//     margin: 0 auto;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;

//     h1 {
//         color: rgb(82, 76, 76);
//     }

//     input {
//         width: 100%;
//         align-items: center;
//         padding: 20px;
//         margin-block: .5rem;
//         outline: none;
//         border: none;
//     }

//     .message {
//         padding-bottom: 10rem;
//     }

//         button {
//             padding: 10px 40px;
//             background: none;
//             cursor: pointer;
//             margin-top: 1rem;
//             border: 1px solid pink;
//             color: rgb(255, 155, 172);
//             text-transform: uppercase;
//         }
// }

// @media (max-width:550px) {
//     .inputs {
//         width: 80%;


//         input {
//             padding: 15px;
//         }
//     }
// }