.header {
    width: 100%;
    display: flex;
    align-items: center;
    top:0;
     position: fixed !important;
//    background: linear-gradient(45deg,rgba(216, 46, 8, 0.085),rgba(62, 7, 189, 0.126));
    background-color:#191d2b      ;
    color: white;

  z-index: 1000 !important;
    // z-index: 1;
   
}


.header__logo {
    margin-left: 3.445rem;
}

.navbar {
    margin: 0 auto;
}

ul {
    display: flex;
   li {
       list-style: none;
       margin: 1rem;

       .black {
           text-decoration: none;
           text-transform: uppercase;
        //    color: #000;
           color: #ffffff;
           font-weight: bolder;

           &:hover {
            //    border-bottom: 3px solid black;
               border-bottom: 3px solid white;

           }
       }
   }
}

.changer {
    display: flex;
    margin-right: 1.555rem;
 
    .menu {
        cursor: pointer;
        margin-right: 1rem;
        display: none;
    }
}
.closed .close{
    display: none;
}

@media (max-width:750px) {
    .header {
      
       margin: auto;
        justify-content: space-between;
    }
    .navbar {
        display: none;
        transition: 1s ease;
    }

    .navbar.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        inset: 0;
        background: rgb(253, 234, 234);
        transition: 1450ms ease;
    }


    ul {
        margin: auto;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;
       li {
           margin-block: 2rem;
           .black {
               font-size: 20px;
               color: rgb(40, 36, 36);
               font-weight: bolder;

           }
       }
    }


    .changer {
        .menu {
            margin-left: -120px;
            display: block;
        }
    }

    .closed .close{
        display: block;
    }

    .header__logo {
        margin-left: .445rem;
    }


}

@media (max-width:360px) {
    ul {
        margin:  auto;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;
       li {
           margin-block: 2rem;
           .black {
               font-size: 20px;
               color: rgb(40, 36, 36);
               font-weight: bolder;
           }
       }
    }

    .changer {
        .menu {
         
            display: block;
            margin-right: 0;
            margin-left: -70px;
        }
    }
}
