.main {
    min-height: 100vh;
    max-width: 100%;
    background-color: white ;
    position: relative;

    &::before,&::after {
        content: '';
        position: absolute;
        left: 0;
    }
    &::before {
        clip-path: polygon(100% 33%, 0% 100%, 100% 100%);
        background:linear-gradient(45deg, white , white );
        width: 100%;
        height: 100%;
}
}

.main__container {
    display: flex;
    height: 90vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main__content {
    margin-left: 3.445rem;
}

.text {
    line-height: 55px;
    p {
        color: rgb(157, 155, 155);
        text-transform: uppercase;
        font-size: 22px;
    }
    .hey{
        margin-left: 8px;
    }

    h1 {
        margin-top: 5px;
        font-size: 50px;
        text-transform: uppercase;
        // margin-top: -10px;
    }
    .typical{
        margin-top: 5px;
        font-size: 25px;
    }

}

.icons {
    display: flex;
    margin-top: 10px;
    margin-left: 650px;
    .icon {
        margin-top: 1rem;
        margin-right: 1.4rem;
        font-size: 35px;
        cursor: pointer;
        color: rgb(157, 155, 155);
       
        &:hover {
            color:
            #d47c70 ;
            border-bottom: 3px solid #fda4af  ;

            
        }
    }
}

.main__img {
    clip-path: circle(45% at 50% 49%);
    cursor: grab;
    margin-right: 80px;
    margin-top: 20px;

    
    img {
        background:linear-gradient(45deg,rgb(226, 187, 178),rgb(198, 189, 219));
    }
}

.buttons {

    button {
        padding: 15px 40px;
        margin-top: 2rem;
        margin-right: 1rem;
        background: linear-gradient(25deg,#fb7185   ,#f87171 );
        color: #fff;
        border: 1px solid #f87171;
        cursor: pointer;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bolder;
    }
}

.main__container.active {
    background: #b91c1c ;
}



@media (max-width:1200px) 
{
    .main{
        max-width: 100%;
    }

    .text {
        white-space: nowrap;
        line-height: 30px;
        p {
            font-size: 14px;
        }
    
        h1 {
            font-size: 30px;
        }
    
    }


    .buttons button {
        padding: 8px 20px;
    }
    .icons {
        margin-right: 1rem;
        .icon {
            font-size: 25px;
        }
    }
   .main__img{
    clip-path: circle(35% at 50% 50%);
    margin-left: 70px;
   }

}

@media (max-width:700px) {
    .main{
        width: 100%;
    }

    .main__content {
        margin-left: 0;
    }

    .main__container {
        text-align: center;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .main__img img {
        width: 250px;
    }

    .text {
        h1 {
            font-size: 23px;
        }
        p {
            color: #000;
            font-size: 11px;
        }
    }

    .icons{ 
        margin-left: 1.5rem;
    .icon {
        color: #d47c70;
        
    }
}
}