.purple{
    // height: 700px;
    height: auto;
    width: 100%;
    background:linear-gradient(45deg, #ffe4e6, #ffe4e6  );
    // margin-top: -30px;
    padding-top: 5px;
    margin-top: -40px;
   
    Button{
        padding: 15px 40px;
        margin-top: 2rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        background: linear-gradient(25deg,#fb7185,#f87171);
        color: #fff;
        border: solid 1px #fb7185;
        cursor: pointer;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bolder;
        border-bottom: none;
    }

.kill{
    text-align: center;
    // margin-top: 25px;
    // padding-top: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 40px;
    color: #262626;   
}
.project-box{
//    border: 1px solid blue;
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 40px;
// grid-template-rows: 1fr 2fr 1fr;
// grid-auto-flow: column;
   margin: 25px 50px 0px 50px;
//    padding: 0px 30px 0px 30px;
   justify-content: space-between;


   .project-box1{
    width: 33%;
    // border: 1px solid brown;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
   }
    .ever{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        font-size: 20px;
      
        cursor: grab;
     
    }
    .hour{
  width: 100%;
  
  cursor: grab;
  
  background-color:#fff1f2  ;

        p{
     color: black;
    padding-top: 10px;
    // text-align: center;
    justify-content: center;
        }
        .com{
            font-size: 20px;
            color: #9d174d;
            padding-top: 5px;
        }
        .bg{
            background-color: #fff1f2 ;
            text-align: center;
            padding-top: 10px;
                }
                .bg:hover{
                    text-decoration: underline;
                    color:#9d174d ;
                }
    .tech{
        text-decoration: none;
       
    }
    .tech:hover{
        text-decoration: underline;
        color:#9d174d
    }
    }

   
  

// second box 
.project-box2{
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
   }

.project-box3{
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}


   }
.ever:hover{
    transform: scale(0.9);
}
// .project-box2:hover{
//     transform: scale(1.5);
// }
// .project-box3:hover{
//     transform: scale(1.5);
// }


}

@media (max-width:850px){
    .purple{
        // width:100%;
        margin :auto;
        
        margin-left:10px;
    }
    
    .kill{
        font-size: 15px;
        color: #f87171;
    }
.project-box{

display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 20px;

.project-box1,.project-box2,.project-box3
{
    flex: 100%;
    width:20px;
    height: auto;
   
}

}

.ever{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 10px;
  
    cursor: pointer;
}

.hour{
    width: 30%;
  
    cursor: pointer;
  
          p{
       color: black;
      padding-top: 10px;
      font-size: 10px;
          }
          .com{
              font-size: 8px;
              color: rgb(105, 33, 33);
              padding-top: 5px;
          }
      
      }

    }


@media (max-width:390px)
{
    .purple{
        width:100%;
        margin: auto;
    }
    .kill{
        font-size: 15px;
    }
    .project-box{
    display: flex;
    flex-direction: column;
    flex: 80%;
}

}
