.calender{
    background: linear-gradient(45deg,white,white);
    height: auto;
    width: 100%;

    padding-top: 60px;
    padding-left: 190px;
    text-align: center;
    margin-left:100px;
}
@media (max-width:1050px){
    .calender{
        // width: 90%;
        margin: auto;
        padding-left: 30px;
        margin-left:-10px;
         
    }
}
@media (max-width:414px){
    .calender{
        margin: auto;
        margin-left:-10px;
       
    }
}